@import "tailwindcss";

:root {
  --background: #e2f3fe;
  --foreground: #020817;
  --primary: #2986ff;
  --border: #e2e8f0;
  --input: #e2e8f0;
  --danger: #ef4444;
  --foreColor: #fafafa;
  --secondary: #f1f5f9;
  --secondary-foreground: #0f172a;
  --lightBlue: #00bdd6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-danger: var(--danger);
  --color-foreColor: var(--foreColor);
  --color-secondary: var(--secondary);
  --color-lightBlue: var(--lightBlue);
  --color-secondary-foreground: var(--secondary-foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
